.photos-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 130px auto 100px;

    div {
        transform: skew(-5deg);
    }

    img {
        object-fit: cover;
        transform: skew(-5deg) scale(1.1);
        &:hover {
            cursor: pointer;
        }
    }
}


.modal {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width:600px;
        max-width: 90%;

        img {
            object-fit: contain;     
        }
}


.close {
    position: absolute;
    top:15px;
    right: 20px;     
    cursor: pointer;
    font-size:1.8rem;  
}



@media (max-width: 687px) {
    .photos-list {
        grid-template-columns: repeat(2, 1fr);
        margin-top:100px;
    }
}

